[submodule "portfolio-client-react-tailwind"]
	path = portfolio-client-react-tailwind
	url = git@github.com:abuabdirohman4/portfolio-client-react-tailwind.git
	branch = master
[submodule "portfolio-client-react-ts-tailwind"]
	path = portfolio-client-react-ts-tailwind
	url = git@github.com:abuabdirohman4/portfolio-client-react-ts-tailwind.git
	branch = master
[submodule "portfolio-client-vue-tailwind"]
	path = portfolio-client-vue-tailwind
	url = git@github.com:abuabdirohman4/portfolio-client-vue-tailwind.git
	branch = master
[submodule "portfolio-client-tailwind-css"]
	path = portfolio-client-tailwind-css
	url = git@github.com:abuabdirohman4/portfolio-client-tailwind-css.git
	branch = master
[submodule "portoflio-server-tall"]
	path = portoflio-server-tall
	url = git@github.com:abuabdirohman4/portoflio-server-tall.git
	branch = master