body {
    background-image: linear-gradient(287.4deg, rgba(86, 123, 255, 0.9) 0%, rgba(86, 123, 255, 0.75) 99.14%);
    font-family: 'Poppins'
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border-radius: 15px;
}

.right-side {
    background: #2A3A6B;
}

.right-side .cover-photo{
    height: 240px;
    overflow: hidden;
}

.right-side .cover-photo img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
}

.identity{
    color: white;
    display: block;
    margin: 0 1rem;
}

.identity h3 {
    font-weight: bold;
}

.identity p {
    font-style: italic;
}

.left-side {
    background-color: white;
}
.left-side .nav-fill .nav-item .nav-link {
    height: 3rem;
}

@media screen and (min-width:768px) {
    .wrapper {
        flex-wrap: nowrap;
        flex-direction: unset;
        overflow: hidden;
        height: 84vh;
        margin: 8vh;
    }
    .right-side {
        flex-grow: 1;
    }
    .right-side .cover-photo{
        height: auto;
    }
    .right-side .cover-photo img {
        width: 100%;
        transform: translateY(-3rem);
    }
    .identity{
        color: white;
        position: absolute;
        display: block;
        bottom: 4rem;
    }
    .left-side {
        flex-grow: 3;
    }
}